<head>
  <meta charset="UTF-8">
  <title>Multer & Cloudinary</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        Upload an image to <a href="https://cloudinary.com/">cloudinary</a>
      </h1>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}

    </main>
  </div>

  <script src="/js/script.js"></script>
</body>

</html>