#image-preview, #video-preview {
    max-width: 400px;
    max-height: 400px;
}

input, img {
    border-radius: 6px;
}

.border {
    border: solid rgba(0, 0, 0, 0.521) 1px;
    border-radius: 1em;
}

.is-fullheight {
    height: 94%;
}